@media screen and (min-width: 420px) {
    .page__header {
    background-size: cover;
    }
}

@media screen and (max-width: 812px) {
    .choice__box {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 585px) {
    .choice__box {
        flex-basis: 100%;
        text-align: center;
    }
}