// $main-color: rgb(9, 166, 109);
$white:rgb(255, 255, 255);
// $bg-green: rgb(243, 251, 248);
$tit-color:rgb(34, 34, 34);
$main-text: rgb(46, 54, 62);
$btn-col: rgb(254, 216, 76);
$sect_end: clamp(24px, 8vw, 150px);
