.another {
    position: relative;
    background-color: rgba(6, 17, 49, 1);
    margin-block-end: $sect_end;
}
.another__inner {

    display: flex;
    align-items: end;
    column-gap: clamp(1em, 3vw, 84px);
    padding-block-start: 12%;
    padding-block-end: 5%;
}
.another__mask1 {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    // z-index: -1;
}
.another__mask2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transform: scale(120%);
    z-index: 1;
}
.another__left {
    align-self: flex-end;
}
.another__img {
    max-width: 100%;
}
.another_right {

    z-index: 1;
    align-items: end;
}
.section__subtittle {
    
}
.another__tittle {
    color: #ffffff;
    font-family: Montserrat;
    font-size: clamp(18px, 3vw, 48px);
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1px;
    margin-block-end: clamp(.5em, 0.5vw, 24px);
}
.white {
}
.section__main_text {
    color: #ffffff;
    font-family: Montserrat;
    font-size: clamp(12px, 2vw, 21px);
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.2px;
}
.page_btn {
}
.another__btn {
    z-index: 1;
}