.cooks {
    margin-block-end: $sect_end;
}
.cooks__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 5em;
}
.cooks__left {
    flex-basis: 50%;
}
.section__subtittle {
}
.section__tittle {

}
.cooks__tittle {
    color: #2e363e;
    font-family: Montserrat;
    line-height: clamp(100%, 15vw, 120%);
    letter-spacing: -1px;
}
.cooks__list {
    min-width: 437px;
    color: #2e363e;
    font-family: Montserrat;
    font-size: clamp(12px, 2vw, 18px);
    font-weight: 400;
    line-height: clamp(100%, 5vw, 120%);
    padding: 2%;
    li {
        padding-block-end: clamp(10px, 1vw, 47px);
    }
}
.page_btn {
}
.another__btn {
}
.cooks__right {
    flex-basis: 50%;
}
.cooks__img {
    min-width: 250px;
}
.cooks__person {
    position: absolute;
    top: 50%;
    left: 50%;
}
.person-black {
    background: rgba(46, 54, 62, .8);
    border-radius: 5px;
    background-blend-mode: normal;
    transform: skewX(-10grad);
    padding: 10px 22px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.26px;
    text-align: center;
    letter-spacing: -0.3px;
    display: flex;
    align-items: center;
}
.person-Yulya {
    background: rgba(242, 246, 250, .5);
    background-blend-mode: normal;
    color: #2e363e;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 220px;
    transform: skewX(-10grad);
}