
.page__header {
    background-image: url(../../img/bg_hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: clamp(280px, 50vw, 1295px);
    // margin-block-end: 150px;
}
.header__inner {
    display: flex;
    flex-direction: column;

}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3vw;
    margin-block: clamp(6px, 3vw, 47px);
    line-height: 80%;
}
.header__tittle {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: clamp(10px, 2.5vw, 21px);
    font-weight: 500;
    text-align: left;
    
}
.header__geo a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: clamp(10px, 2.5vw, 21px); 
    font-weight: 400;
    // line-height: clamp(80%, 1vw, 150%);
    // line-height: 80%;
    text-align: left;
    text-decoration: none;
}
.header__col_time {
    & a {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: clamp(10px, 2.5vw, 21px);
        font-weight: 700;
        line-height: 152%;
        text-align: left;
        text-decoration: none;
    }
    & p {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 400;
        text-align: left;
    }
}
.hero h1 {
    max-width: 647px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: clamp(16px, 3vw, 48px);
    font-weight: 700;
    line-height: minmax(100%, 125%);
    letter-spacing: -1px;
    text-align: left;
    margin-block-end: clamp(0.2em, 1vw, 24px);
}
.section__main_text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: clamp(12px, 2vw, 24px);
    font-weight: 400;
    line-height: minmax(100%, 143%);
    letter-spacing: 0%;
    text-align: left;
    margin-block-end: clamp(0.5em, 1vw, 24px);
}
.hero__btn {
    display: flex;
    column-gap: clamp(5px, 1vw, 20px);
}

.hero_txt {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: clamp(10px, 2vw, 18px);
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
}