.order {
    margin-block-end: $sect_end;
    margin-inline: auto;
}
.section__tittle {
    text-align: center;
}
.black {
}
.order__text {
    color: rgb(46, 54, 62);
    font-family: Montserrat;
    font-size: clamp(14px, 2vw, 24px);
    font-weight: 400;
    text-align: center;
    padding-block-end: clamp(2em,2vw, 5em);
}
.order__boxex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
}
.order__box-img {
}