

.page_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    background: rgb(254, 216, 76);
    & a {
        color: rgb(46, 54, 62);
        font-family: Montserrat;
        font-size: clamp(10px, 2vw, 18px);
        font-weight: 500;
        text-decoration: none;
        padding: 1vw 1vw;

    }
}